@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-list{
    display: none;
}

html{
    scroll-behavior: smooth;
}


/* main{
    background-image: url(../Rectangle\ 15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

@media only screen and (min-width:769px) {
   .fa-bars{
        display: none; 
    }

}

@media only screen and (min-width:1024px) {
   nav .fa-bars{
        display: none; 
    }

   .nav-list{
    display: flex;
}

.item-one{
    display: flex;
    justify-content: space-between;
}

.item-one{
    display: flex;
}

.div-img{
 width: 60%;
}

.project{
    width: 38%;
    display: flex;
    justify-content: center;
    }

    .project h1, p{
        text-align: left;
    }

     .project p{
        text-align: left;
    }

    .btn{
       padding:.5rem 1.5rem;

    }

    .main-section{  
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-evenly;
    }
    .img-con{
      grid-column: 2/3;
      width: 80%;
      margin: 0 auto;
    }
    .header-sec{
      grid-column: 1/2;
      grid-row: 1/2;
      display: grid;
      align-items: center;
      margin-right: 2rem;
      width: 80%;
        margin: 0 auto;
    }

    .drpme{
        font-size: 3rem;
    }

    .header{
        font-size: 2rem;
    }

    .career{
        font-size: 1.5rem;
    }

    .list h1{
      font-size: 1.7rem;
    }
       .list p{
      font-size: 1.3rem;
    }

    .resort-con{
      display: flex;
      justify-content: space-around;
         
    }

    .resort-con .content{
        width: 60%;
    }
}




